#container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(250, 235, 215);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(250, 235, 200);
}



input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#diceImages img{
    width: 150px;
    margin: 10px;
}